
/* @import "tailwind/preflight";
@tailwind utilities; */
@import "tailwindcss";
@plugin "daisyui";



.product-card{
    display: flex;    
    width: fit-content;
    gap: 10rem !important;
    flex-wrap: wrap;
    padding: 10px;
    margin: 2%;
}


.modal {
    display: block;
    position: fixed; 
    top: 0%; left: 0%; right: 0%; bottom: 0%;
    background: rgba(0, 0, 0, 0.5); /* Dim background */
  }
  